/* general styling*/

html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    padding:0;
    margin:0;
}

/* colour styles */
.bg-color-primary {
    background-color: #F39237;
}

.font-color-light {
    color: #ffffff;
}

.font-color-orange {
    color: #F39237;
}

/* navbar styling */
div.navbar {
    line-height: 2.8rem;
    height: 10rem;
}

.navbar a.navbar-brand {
    color: #ffffff;
    font-size: 2.8rem;
    position: relative;
    top: 0rem;
}

.navbar a.navbar-brand:hover {
    color: #ffffff;
    cursor: pointer;
}

ul.navbar-nav.nav {
    position: fixed;
    top: 6rem;
    background-color: #F39237;
    padding: 0;
    height: 4rem;
    justify-content: center;
}

.navbar .nav-item a.nav-link {
    font-size: 2rem;
    color: #ffffff;
    padding: 0px 3px;
    text-align: center;
    display: flex;
    margin: 0rem 1.5rem;
}

.navbar .nav-item a.nav-link.active {
    color: #ffffff;
    border-bottom: solid 3px;
    border-color: #ffffff;
}

.navbar .nav-item a.nav-link:hover {
    color: #ffffff;
    border-bottom: solid 3px;
    border-color: #ffffff;
}

ul div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* map styling */

.page-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    color: #F39237;
    text-align: center;
}

.page-heading {
    position: relative;
    top: 5rem;
    margin-bottom: 6rem;
}

section.map-section {
    position: relative;
    top: 0;
    margin: 0;
}

div.search-box {
    position: relative;
    height: 5rem;
}

div#map {
    position: relative;
    top: 10rem;
    min-height: 360px;
}

div.search-box h2 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

div#information-box {
    display: none;
}

.gym-info-title {
    font-size: 1.8rem;
}

.gym-search-btn {
    margin-left: 2rem;
    font-size: 2rem;
    border-radius: 2rem;
    padding: .4rem 2rem;
    font-family: 'Montserrat';
    background-color: #F39237;
    color: #ffffff;
    border-style: none;
    box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
    font-weight: normal;
}

/* footer styling */

footer {
    height: 5rem;
    background-color: #F39237;
}

footer p {
    padding-top: 1.2rem;
    font-size: 1.8rem;
}

/* media queries */
 @media(min-width: 768px) {
    .navbar .nav-item a.nav-link {
        color: #ffffff;
        border-color:#ffffff;
    }

    .navbar .nav-item a.nav-link:hover {
        border-color:#ffffff;
        color:#ffffff;
    }

    .navbar .nav-item a.nav-link.active{
        color:#ffffff;
        border-color:#ffffff;
    }

    ul.navbar-nav.nav {
        position: relative;
        top: 0.4rem;
        right: 0rem;
    }

    div.navbar {
        height: 6rem;
    }

    ul div {
        justify-content: end;
    }

    .page-heading h1 {
        text-align: left;
    }

    .page-heading {
        position: relative;
        left: 9rem;
    }

    div#map {
        top: 0;
        width: 50vw;
        height: 100%;
    }

    section.map-section {
        margin: 0;
        top:0;
        padding-bottom:0rem;
        height:100vh;
    }

    div.search-box {
        height: 45rem;
        justify-content: center;
    }

    div.search-box h2 {
        margin-top: 5rem;
    }

    div.search-box form {
        margin-top: 5rem;
    }

    div.search-box input, div.search-box button {
        height: 3.4rem;
        font-size: 2rem;
    }

    div.search-box input {
        max-width: 80%;
    }
 }

