/* general styling*/
html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    padding:0;
    margin:0;
    min-height: 100vh;
    color: #1E3231;
}

/* colour styles */
.bg-color-primary {
    background-color: #F39237;
}

.font-color-light {
    color: #F9F9F9;
}

.font-color-orange {
    color: #F39237;
}

/* font sizes */
.font-size-xl-scale,
.font-size-xl {
    font-size: 4rem;
}

.font-size-l {
    font-size: 3rem;
}

.font-size-md {
    font-size: 2rem;
}

.font-size-s {
    font-size: 1.8rem;
}

.font-size-xs {
    font-size: 1.6rem;
}

/* navbar styling */
nav.navbar {
    z-index: 15;
    position: fixed;
    line-height: 2.8rem;
    padding:0;
    margin:0;
    width: 100%;
    height: 6rem;
    box-shadow: 0 .2rem rgba(33, 37, 41, 0.1);
    background-color: #F39237;
}

.brand-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 0;
    width: auto;
}

.navbar a.navbar-brand {
    color: #F9F9F9;
    padding: 0;
    width: auto;
}

.navbar a.navbar-brand:hover {
    color: #F9F9F9;
    cursor: pointer;
}

ul.navbar-nav.nav {
    position: absolute;
    z-index: 15;
    top: 5rem;
    padding: 0;
    height: 4rem;
    justify-content: center;
    background-color: #F39237;
    box-shadow: 0 .2rem rgba(33, 37, 41, 0.1);
}

.navbar .nav-item a.nav-link {
    color: #F9F9F9;
    padding: 0 3px;
    text-align: center;
    display: flex;
    margin: 0 2rem;
}

.navbar .nav-item a.nav-link.active {
    color: #F9F9F9;
    border-bottom: solid 3px;
    border-color: #F9F9F9;
}

.navbar .nav-item a.nav-link:hover {
    color: #F9F9F9;
    border-bottom: solid 3px;
    border-color: #F9F9F9;
}

ul div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar-toggler {
    line-height: 2.8rem;
    position: absolute;
    top: 2rem;
    margin: 0;
    padding: 0;
    right: 2rem;
    width: 2.8rem;
}

/* landing page styling */
.landing-page div.landing-information {
    position: relative;
    max-width: 80%;
    left: 10%;
    right: 10%;
    z-index: 10;
    justify-content: center;
    align-content: center;
    text-align: left;
    padding: 0;
    padding-top: 5rem;
    overflow: hidden;
    height: 100%;
}

section.landing-page {
    height: 100%;
    min-height: 100vh;
    margin:0;
    position: relative;
    background-color: #F9F9F9;
    padding:6rem 0 0 0;
    overflow-y: auto;
}

h1.landing-page-heading {
    font-family: 'Raleway', sans-serif;
    color: #F9F9F9;
    position: relative;
    width: 100%;
    height:45vh;
}

.landing-page p {
    position: relative;
    border-top: #F39237 2px solid;
    font-weight: 500;
    text-align: left;
    color: #1E3231;
    font-family: 'Raleway', sans-serif;
}


.image-container {
    position: absolute;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
    right: 0;
    height: 50vh;
    max-height: 50vh;
    width: 100%;
    overflow: hidden;
}

.dark-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .4;
}

.background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/landing-bg-image.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h1-link {
    color: #F9F9F9;
    background-color: #F39237;
    border-radius: 3.5rem;
    padding: .5rem 2rem;  
    line-height: 3rem;
    transition: .2s ease-in;
    display: inline-block;
}

.h1-link i {
    margin-left: 1rem;
}

.h1-link:hover {
    text-decoration: none;
    color: #F39237;
    background-color:#F9F9F9;
}

/* map styling */
h1.gym-finder-heading {
    font-family: 'Raleway', sans-serif;
    color: #F39237;
    text-align:center;
}

.page-heading {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

section.map-section {
    position: relative;
    padding:6rem 0 0 0;
    margin: 0;
    height: auto;
    min-height: 100vh;
}

div.search-box {
    position:relative;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#map {
    position: relative;
    bottom: 0;
    min-height: 360px;
    margin-top: 2rem;
}

div.search-box h2 {
    padding-left: 0;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
 
.gym-info-title {
    font-size: 1.8rem;
}
.search-box .justify-content-between h3 {
    padding: 0;
    color: #F39237;
    text-decoration: underline;
    cursor: pointer;
}

#information-box {
    display: none;
    width: 100%;
    height: auto;
    transition: .2s;
    padding-top: 1.5rem;
}

.gym-search-btn-straight-edge {
    padding: .4rem 2rem;
    font-family: 'Montserrat';
    background-color: #F39237;
    color: #F9F9F9;
    border-style: none;
    box-shadow: 0 .2rem rgba(33, 37, 41, 0.1);
    font-weight: normal;
    line-height: 2.4rem;
    width: 8rem;
    max-width: 8rem;
    height: 2.8rem;
    border-radius: 0 2rem 2rem 0;
    transition: .2s;
    cursor: pointer;
}

#country-select {
    margin: 0;
    padding: 0;
    max-width: 50rem;

}

#country-select select {
    padding: 0;
    margin: 0;
    height: 2.8rem;
    max-width: 100%;
    border: none;
    background-color: #F9F9F9;
    box-shadow: 0 .2rem rgba(33, 37, 41, 0.1);
    margin-bottom: 1rem;
    cursor: pointer;
} 

select#country option {
    font-size: 1.6rem;
    max-width: 100%;
    padding: 0;
}

.gym-search-btn-straight-edge:hover,
.gym-search-btn-straight-edge:focus {
    background-color: rgba(243, 146, 55, .4);
    color:#F39237;
}

.location-image {
    display: flex;
    padding: 0;
    margin-bottom: 1rem;
    width: auto;
    height: 100%;
    max-height: 30vh;
    max-width: 100%;
    text-align:center ;
}

#information-box div.col-lg-6.order-lg-12.justify-content-center {
    display: flex;
}


.website-unavailable {
    display: none;
}

.location-information-row {
    display: flex;
    flex-direction: row;
}

.close-gym-information-btn{
    text-align: right;
}

.close-gym-information-btn i{
    z-index: 2;
    cursor: pointer;
    padding:0;
    color: #F39237;
    line-height: 2.2rem;
    transition: .2s ease-in;
    width: 100%;
    height: 100%;
}

.close-gym-information-btn i:hover {
    font-size: 2rem;
}

.gym-image-container {
    height:100%;
    padding: 0;
    display: flex;
}

.gym-information-container {
    display: flex;
}


#address-form {
    margin: 0;
}

.gym-info-icon {
    color: #F39237;
    margin-right: 1rem;
    float:left;
}

.location-name {
    letter-spacing: .1rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.location-rating {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

div.side-panel.col-md-4{
    padding: 0 10%;
}

#information-box div.information-box-bottom-row {
    position: relative;
    margin: 2rem 0;
    padding:0;
}

div.information-box-bottom-row div.col {
    padding: 0;
}

div.information-box-top-row {
    padding: 0 1.5rem 0 1.5rem;
}

div.information-box-top-row h3,
div.information-box-top-row div {
    padding: 0;
}

.location-address {
    overflow-wrap: anywhere;
}

.location-website {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input#address-input {
    height: 2.8rem;
    width: auto;
    min-width: 15rem;
    padding-left: .5rem;
    border: none;
    background-color: #F9F9F9;
}

.search-box .address-search {
    padding: 0;
    margin: 0 0 .5rem 0;
}

div.row.justify-content-center {
    display:flex;
    padding: 0 2rem;
}

.search-box .local-search {
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left:0;
}

/* footer styling */
footer {
    position: relative;
    z-index: 5;
    margin: 0;
    height: 4rem;
    background-color: #F39237;
}

footer p {
    padding-top: 1.2rem;
    line-height:1.6rem;
}

/* media queries */
@media(min-width: 1100px) {
    .gym-search-btn-straight-edge {
        margin-left: 2rem;
    }

    .font-size-xl-scale {
        font-size: 5rem;
    }
}

@media(min-width: 768px) {
/* General styling */
    body{
        height: 100vh;
        width: 100vw;
        position: absolute;
        top:0;
        overflow-x: hidden;
        min-height: 100vh;
    }

    footer {
        position: absolute;
        bottom:0;
    }

/* Navbar Styling */
    .navbar .nav-item a.nav-link {
        color: #F9F9F9;
        border-color:#F9F9F9;
    }

    .navbar .nav-item a.nav-link:hover {
        border-color:#F9F9F9;
        color:#F9F9F9;
    }

    .navbar .nav-item a.nav-link.active{
        color:#F9F9F9;
        border-color:#F9F9F9;
    }

    #navbarCollapseTarget {
        position: relative;
        justify-content: flex-end;
    }

    ul.navbar-nav.nav {
        position: relative;
        top: 0;
        right: 0;
        height:auto;
        justify-content: flex-end;
        max-width: 50%;
        box-shadow: none;
    }


    .brand-container {
        position: relative;
        top: .5rem;
    }

    nav.navbar {
        top: 0;
        margin-right: 0;
        margin-left: 0;
        height: 6rem;
    }

    ul div {
        justify-content: end;
    }

/* Landing Page Styling */
    section.landing-page {
        height: 100%;
        padding-bottom: 4rem;
        top: 0;

    }  

    .landing-page div.landing-information {
        position: relative;
        background-color: rgba(243, 146, 55, .8);
        padding: 0;
        left: 0;
        right: 0;
        max-height: 100%;
        overflow-y: auto;
    }

    .image-container {
        margin: 0;
        justify-content: center;
        align-content:center;
        position: relative;
        width: 100%;
        max-height: 100vh;
        right: 0;
    }

    img.background-image {
        position: absolute;
        width: auto;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .landing-page h1 {
        padding:0;
        margin-top: 10rem;
        width:90%;
        left:5%;
        color:#1E3231;
        height: auto;
    }

    .landing-page p {
        position: relative;
        top: 0;
        width:90%;
        left:5%;
        border: none;
        margin-top: 10rem;
    }

/* Gym Finder Styling */
    div.side-panel.col-md-4 {
        padding: 0 2rem;
        width: 30rem;
        height: auto;
        overflow-y: auto;
        max-height: 100%;
    }

    .page-heading {
        margin-bottom: 2rem;
    }

    #map.col-md-8 {
        top: 0;
        position: relative;
        width: 50vw;
        max-height: 100%;
        min-height:100%;
        height: 1000px;
        margin:0;
    }

    section.map-section {
        padding:6rem 0 4rem 0;
        margin: 0;
        top:0;
        height:100%;
        max-height:100%;
        min-height: 50vh;
    }

    div.search-box {
        position:relative;
        margin-bottom: 2rem;
        justify-content: center;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #information-box {
        position: relative;
        top: 0;
        padding-top: 0;
    }

    #information-box div.col-lg-6 {
        padding:0;

    }

    .location-image {
        margin: 0;
        max-height: 20vh;
        margin-bottom: 3rem;
    }

    div.search-box div {
        margin-top: 0.5rem;
        padding: 0 2rem;
    }

    div.row.justify-content-center {
        padding: 0 2rem;
    }

    .search-box .justify-content-between {
        max-width: 50rem;
    }

    .image-container {
        height: 100%;
        overflow: hidden;
    }
}

