/* general styling*/

html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    padding:0;
    margin:0;
}

/* colour styles */
.bg-color-primary {
    background-color: #F39237;
}

.font-color-light {
    color: #ffffff;
}

.font-color-orange {
    color: #F39237;
}

/* navbar styling */
div.navbar {
    z-index: 10;
    position: fixed;
    line-height: 2.8rem;
    width: 100vw;
    height: 10rem;
    box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
}

.navbar a.navbar-brand {
    color: #ffffff;
    font-size: 2.8rem;
    position: relative;
    top: 0rem;
}

.navbar a.navbar-brand:hover {
    color: #ffffff;
    cursor: pointer;
}

ul.navbar-nav.nav {
    position: fixed;
    top: 6rem;
    background-color: #F39237;
    padding: 0;
    height: 4rem;
    justify-content: center;
}

.navbar .nav-item a.nav-link {
    font-size: 2rem;
    color: #ffffff;
    padding: 0px 3px;
    text-align: center;
    display: flex;
    margin: 0rem 1.5rem;
}

.navbar .nav-item a.nav-link.active {
    color: #ffffff;
    border-bottom: solid 3px;
    border-color: #ffffff;
}

.navbar .nav-item a.nav-link:hover {
    color: #ffffff;
    border-bottom: solid 3px;
    border-color: #ffffff;
}

ul div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* landing page styling */
.landing-page div.sidebar {
    position: relative;
    min-width: 40rem;
    background-color: rgba(243, 146, 55, .8);
    width: 100%;
}

section.landing-page {
    position: relative;
    height: 100%;
    top: 10rem;
}

.landing-page h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: #1E3231;
    position: relative;
    margin-top: 10rem;
    left: 4rem;
}

.h1-link {
color: #F39237;
  background-color: #ffffff;
  border-radius: 3.5rem;
  padding: .5rem 2rem;  
  line-height: 3rem;
}

.h1-link span {
    font-size: 12rem;
    font-weight: 200;
    color:#F39237;
}

.landing-page p{
    max-width: 85%;
    position: relative;
    left: 4rem;
    margin-top: 5rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: #1E3231;
    font-family: 'Raleway', sans-serif;
}

/* map styling */

.page-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    color: #F39237;
    text-align:center;
}

.page-heading {
    position: relative;
    top: 6rem;
    margin-bottom: 4rem;
}

section.map-section {
    position: relative;
    top: 10rem;
    margin: 0;
}

div.search-box {
    position: relative;
    height: 100%;
}

div#map {
    position: relative;
    top: 2rem;
    min-height: 360px;
}

div.search-box h2 {
    padding-left: 0rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
div#information-box {
    display: none;
}

.gym-info-title {
    font-size: 1.8rem;
}

.gym-search-btn {
    margin-left: 2rem;
    font-size: 2rem;
    border-radius: 2rem;
    padding: .4rem 2rem;
    font-family: 'Montserrat';
    background-color: #F39237;
    color: #ffffff;
    border-style: none;
    box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
    font-weight: normal;
    line-height: 2.4rem;
    width: 12rem;
    max-width: 13rem;
    height: 3.4rem;
}


#information-box div.col {
    padding:0;
}


.location-image {
    padding: 0;
    max-width: 20rem;
    height: auto;
}

#address-form {
    margin: 0rem 0rem 2rem 0rem;
}

.location-name {
    letter-spacing: .1rem;
    font-size:2.4rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.location-rating {
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

div.side-panel.col-md-4{
    height: 100%;
}

div#information-box div.row.justify-content-between {
    top: 3rem;
    position: relative;
    margin: 2rem 0rem;
}

.location-address, .location-website {
    font-size: 1.5rem;
}

    input#address-input {
        height: 3.4rem;
        font-size: 2rem;
        width: auto;
        min-width: 20rem;
        max-width: 32rem;
        padding-left: .5rem;
        border: none;
        background-color: #F9F9F9;
        box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
    }
div.search-box {
        position:relative;
        top: 5rem;
        height: 30rem;
        justify-content: center;
    }

    div.row.justify-content-center {
        padding: 0rem 2rem;
    }

    .search-box .justify-content-between {
        max-width: 50rem;
        padding-right:0;
        padding-left:0;
        margin-right:0;
        margin-left:0;
    }



/* footer styling */
footer {
    position: absolute;
    bottom: 0;
    height: 5rem;
    background-color: #F39237;
}

footer p {
    padding-top: 1.2rem;
    font-size: 1.8rem;
}

/* media queries */
 @media(min-width: 768px) {
     body{
         height: 100vh;
         overflow: hidden;
     }
    .navbar .nav-item a.nav-link {
        color: #ffffff;
        border-color:#ffffff;
    }

    .navbar .nav-item a.nav-link:hover {
        border-color:#ffffff;
        color:#ffffff;
    }

    .navbar .nav-item a.nav-link.active{
        color:#ffffff;
        border-color:#ffffff;
    }

    ul.navbar-nav.nav {
        position: relative;
        top: 0.4rem;
        right: 0rem;
    }

    div.navbar {
        margin-right: 0rem;
        margin-left: 0rem;
        height: 6rem;
    }

    ul div {
        justify-content: end;
    }

    .page-heading {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    div#map {
        top: 0;
        width: 50vw;
        height: 100%;
    }

    section.map-section {
        margin: 0;
        top:0;
        padding-bottom:0rem;
        height:100vh;
    }

    div.search-box {
        position:relative;
        top: 5rem;
        height: 30rem;
        justify-content: center;
    }


    div#information-box {
        position: relative;
        top: 0;
    }

    div.search-box div {
        margin-top: 4rem;
        padding: 0rem 2rem;
    }

    div.row.justify-content-center {
        padding: 0rem 2rem;
    }

    .search-box .justify-content-between {
        max-width: 50rem;
    }

    hr {
        margin-top: 4rem;
        border-bottom: .4rem solid #F39237;
        box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
    }

    section.landing-page {
        top: 6rem;
    }

 }

