/* general styling*/
html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    padding:0;
    margin:0;
    min-height: 100vh;
}

/* colour styles */
.bg-color-primary {
    background-color: #F39237;
}

.font-color-light {
    color: #ffffff;
}

.font-color-orange {
    color: #F39237;
}

/* navbar styling */
nav.navbar {
    z-index: 10;
    position: fixed;
    line-height: 2.8rem;
    padding:0;
    margin:0;
    width: 100%;
    height: 9rem;
    box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
    background-color: #F39237;
}

.navbar a.navbar-brand {
    color: #ffffff;
    font-size: 2.8rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 0;
}

.navbar a.navbar-brand:hover {
    color: #ffffff;
    cursor: pointer;
}

ul.navbar-nav.nav {
    position: fixed;
    top: 5rem;
    padding: 0;
    height: 4rem;
    justify-content: center;
}

.navbar .nav-item a.nav-link {
    font-size: 2rem;
    color: #ffffff;
    padding: 0px 3px;
    text-align: center;
    display: flex;
    margin: 0rem 2rem;
}

.navbar .nav-item a.nav-link.active {
    color: #ffffff;
    border-bottom: solid 3px;
    border-color: #ffffff;
}

.navbar .nav-item a.nav-link:hover {
    color: #ffffff;
    border-bottom: solid 3px;
    border-color: #ffffff;
}

ul div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* landing page styling */
.landing-page div.landing-information {
    position: absolute;
    max-width: 80%;
    left: 10%;
    right: 10%;
    z-index: 10;
    justify-content: center;
    align-content: center;
    text-align: left;
}

section.landing-page {
    height: 100vh;
    top: 9rem;
    margin:0;
    position: relative;
    background-color: #F9F9F9;
    padding:0;
}

.landing-page h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: #F9F9F9;
    position: relative;
    margin-top: 10rem;
    width: 100%;
    min-height: 11rem;
}


.image-container {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
    right: 0;
    height: 50vh;
    max-height: 50vh;
    width: 100%;
    overflow: hidden;
}

.dark-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .4;
}

.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/landing_bg_image.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.h1-link {
    color: #ffffff;
  background-color: #F39237;
  border-radius: 3.5rem;
  padding: .5rem 2rem;  
  line-height: 3rem;
}

.h1-link span {
    font-size: 3rem;
    font-weight: 200;
    color:#ffffff;
}

.landing-page p {
    position: relative;
    padding-top: 2rem;
    border-top: #F39237 2px solid;
    margin-top: 20rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    color: #1E3231;
    font-family: 'Raleway', sans-serif;
}

/* map styling */

.page-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: #F39237;
    text-align:center;
}


.page-heading {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

section.map-section {
    position: relative;
    top: 9rem;
    margin: 0;
}

div.search-box {
    position:relative;
    top: 0rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


div#map {
    position: relative;
    top: 0;
    min-height: 360px;
}

div.search-box h2 {
    padding-left: 0rem;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

div#information-box {
    display: none;
    width: 100%;
}

div#information-box i {
    font-size: 2rem;
    color:#1E3231;
    line-height: 2.2rem;
}

.gym-info-title {
    font-size: 1.8rem;
}

.gym-search-btn-straight-edge {
    font-size: 2rem;
    padding: .4rem 2rem;
    font-family: 'Montserrat';
    background-color: #F39237;
    color: #ffffff;
    border-style: none;
    box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
    font-weight: normal;
    line-height: 2.4rem;
    width: 8rem;
    max-width: 8rem;
    height: 3.4rem;
    border-radius: 0rem 2rem 2rem 0rem;
}

.location-image {
    padding: 0;
    max-width: 20rem;
    height: auto;
}

#address-form {
    margin: 0rem 0rem 2rem 0rem;
}

.location-name {
    letter-spacing: .1rem;
    font-size:2.2rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.location-rating {
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

div.side-panel.col-md-4{
    height: 100%;
    padding: 0% 10%;
}

div#information-box div.information-box-bottom-row {
    top: 3rem;
    position: relative;
    margin: 2rem 0rem;
}

.location-address, .location-website {
    font-size: 1.5rem;
}

input#address-input {
    height: 3.4rem;
    font-size: 1.8rem;
    width: auto;
    min-width: 15rem;
    max-width: 32rem;
    padding-left: .5rem;
    border: none;
    background-color: #F9F9F9;
    box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
}

.search-box .address-search {
    padding: 0rem;
}

div.row.justify-content-center {
    display:flex;
    padding: 0rem 2rem;
}

.search-box .local-search {
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left:0;
}

/* footer styling */
footer {
    position: absolute;
    z-index: 5;
    bottom: 0;
    height: 4.5rem;
    background-color: #F39237;
}

footer p {
    padding-top: 1.2rem;
    font-size: 1.6rem;
}

/* media queries */
@media(min-width: 1100px) {
    .gym-search-btn-straight-edge {
    margin-left: 2rem;
    }

    .page-heading h1 {
        font-size:5rem;
    }
}
 @media(min-width: 768px) {
     body{
         height: 100vh;
         width: 100vw;
         position: absolute;
         top:0;
         overflow: hidden;
     }

    div.side-panel.col-md-4 {
        padding: 0;
    }
    .page-heading {
        margin-bottom: 4rem;
    }
    .navbar .nav-item a.nav-link {
        color: #ffffff;
        border-color:#ffffff;
    }

    .navbar .nav-item a.nav-link:hover {
        border-color:#ffffff;
        color:#ffffff;
    }

    .navbar .nav-item a.nav-link.active{
        color:#ffffff;
        border-color:#ffffff;
    }

    ul.navbar-nav.nav {
        position: relative;
        top: 0rem;
        right: 0rem;
        height:auto;
    }

    .navbar a.navbar-brand {
        position: relative;
        top:0rem;
    }

    nav.navbar {
        margin-right: 0rem;
        margin-left: 0rem;
        height: 6rem;
    }

    ul div {
        justify-content: end;
    }

    div#map {
        top: 0;
        position: relative;
        width: 50vw;
        max-height: 100%;
        min-height:100%;
        height: 1000px;
    }

    section.map-section {
        padding:6rem 0rem 5rem 0rem;
        top:0;
        height:100%;
        max-height:100%;
    }

    div.search-box {
        position:relative;
        margin-bottom: 2rem;
        justify-content: center;
    }

    div#information-box {
        position: relative;
        top: 0;
    }

    div.search-box div {
        margin-top: 2rem;
        padding: 0rem 2rem;
    }

    div.row.justify-content-center {
        padding: 0rem 2rem;
    }

    .search-box .justify-content-between {
        max-width: 50rem;
    }

    hr {
        margin-top: 4rem;
        border-bottom: .4rem solid #F39237;
        box-shadow: 0rem .4rem rgba(33, 37, 41, 0.1);
    }

    section.landing-page {
        top: 0rem;
        margin-top: 6rem;
        margin-bottom: 5rem;
    }  

    nav.navbar {
        top: 0;
    }
    
    .landing-page div.landing-information {
        position: relative;
        background-color: rgba(243, 146, 55, .8);
        left:0;
        right:0;
    }
    .image-container {
        margin: 0;
        justify-content: center;
        align-content:center;
        position: relative;
        width: 100%;
        max-height: 100vh;
        right: 0;
    }

    img.background-image {
        position: absolute;
        width: auto;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .image-container {
        height: 100%;
        overflow: hidden;
    }

    .landing-page h1 {
        margin-top: 4.8rem;
        color:#1E3231;
        font-size: 4rem;
    }

    .landing-page p {
        border: none;
        margin-top: 6rem;
    }

    div.landing-information {
        max-height: 100%;
    }

    footer {
        position: absolute;
        bottom:0;
        margin-top: 2rem;
    }
}

