/* general styling*/

html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    padding:0;
    margin:0;
}

/* colour styles */
.bg-color-primary {
    background-color: #F39237;
}


.font-color-light {
    color: #ffffff;
}

/* navbar styling */
div.navbar {
    line-height: 2.8rem;
    height: 6rem;
}
.navbar a.navbar-brand {
    color: #ffffff;
    font-size: 2.8rem;
    position: relative;
    left: 2rem;
}

.navbar a.navbar-brand:hover {
    color: #ffffff;
    cursor: pointer;
}

ul.navbar-nav.nav {
    position: fixed;
    top: 6.5rem;
}
.navbar .nav-item a.nav-link {
    font-size: 2rem;
    color: #F39237;
    padding: 0px 5px;
    text-align: center;
    display: flex;
    margin: 0rem 1.5rem;
}

.navbar .nav-item a.nav-link.active {
    color: #F39237;
    border-bottom: solid 3px;
    border-color: #F39237;
}

.navbar .nav-item a.nav-link:hover {
    color: #F39237;
    border-bottom: solid 3px;
    border-color: #F39237;
}

button.navbar-toggler {
    border: none;
}

button.navbar-toggler i {
    color: #ffffff;
    font-size: 2.8rem;
}

ul div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* media queries */
 @media(min-width: 768px) {
    .navbar .nav-item a.nav-link {
        color: #ffffff;
        border-color:#ffffff;
    }

    .navbar .nav-item a.nav-link:hover {
        border-color:#ffffff;
        color:#ffffff;
    }


    .navbar .nav-item a.nav-link.active{
        color:#ffffff;
        border-color:#ffffff;
    }


    ul.navbar-nav.nav {
        position: relative;
        top: 0;
        right: 0rem;
    }


    ul div {
        justify-content: end;
    }
 }